view,
text,
navigator,
input,
image,
swiper,
scroll-view,
page {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
page {
	font-size:28rpx;
	color:#666;
}
image{
	width: 100%;
	display:block;
}

/* 这里调整全局样式css,比如margin padding去掉浏览器默认的改为0 */